.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding: 2em 0 2em 0;
}

.post-blog + .post-blog {
    padding-bottom: 1.5em;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: top center;
}

